.crypto-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  
  .crypto-icon {
    font-size: 3rem;
    margin: 10px;
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  