.email-signup-form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    animation: moveUpDown 1.5s infinite alternate;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .email-signup-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .email-signup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .email-signup-form input[type="email"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .email-signup-form button {
    padding: 0.5rem 1rem;
  background-color: #3300FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .email-signup-form button:hover {
    background-color: #0056b3;
  }
  