@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.popup-open {
  overflow: hidden;
}

.Graphs-header {
  padding: 0rem 2rem 2rem 0rem;
  display: flex;
}

.graphs-leftside {
  width: 600px;
  height: 240px;
  margin: 2rem;
}

.Graphs-header .line {
  width: 1px;
  height: 100vh;
  background-color: #323546;
  margin-left: 2rem;
}

.top {
  width: 1000px;
  height: 510px;
  margin: 2rem 2rem;
  background-color: rgb(255, 0, 0);
}

.Graphs-container {
  position: relative;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-container {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-container::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  white-space: nowrap;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #0D1421;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #0D1421;
  color: white;
}

.detail-link a {
  text-decoration: none;
  color: blue;
}

.detail-link a:hover span.test {
  text-decoration: underline;
}

th, td {
  border: 0 none;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  font-weight: bolder;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #0D1421;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.buttons button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #444;
}
.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 25px;
  max-height: 200px;
  overflow-y: auto;
}

.favorites::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.favorite-content {
  display: flex;
  align-items: center;
}

.favorite-icon {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.favorite-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

